<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Avis</h1>
    <p> Titre : {{ titre }}</p>
    <p> Note : {{ note }}</p>
    <p> Date : {{ date }}</p>
    <p> Commentaire : {{ commentaire }}</p>
    <h1>Membre</h1>
    <p> Nom : {{ nom }}</p>
    <p> Prenom : {{ prenom }}</p>
    <p> email : {{ email }}</p>
  </body>
</html>
